extends base.pug

block headExtra 
    title Jogo: #{game.title}

block content 
    section
        .GameInfo
            h1= game.title
            p= game.description
            //- img(src=`/public/assets/${game.image}`, alt=game.title)
            p= game.genre 
            p Tags: 
                each tag, i in game.tags
                    | #{tag}#{i < game.tags.length - 1 ? ' - ' : ''}
            
            div.returnButton
                a(id="back-button" href="#") Voltar

block scripts
    script(src="/scripts/gamePage.js")