//- A página carrega com arcadeData

extends base.pug

block headExtra 
    title Login

block content
    section
        h2 Login no Fliperama
        form(id="loginForm")
            input(type="hidden", name="arcadeId", id="arcadeId", value=arcadeId)
            input(type="hidden", name="apiURL", id="apiURL", value=apiURL)
            label(for="username") Usuário
            input(type="text", name="username", id="username")
            label(for="password") Senha
            input(type="password", name="password", id="password")

            p(id="feedback-message" style="text-align: center; color: #ff6b6b;")
            
            div(style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;")
                a(href="/forgot-password", style="margin-left: auto;") Esqueci minha senha
            div(style="display: flex; gap: 10px; flex-direction: column;")
                button(type="button", id="adminSubmitButton") Entrar como Admin
                button(type="button", id="submitButton") Entrar

                div(style="margin-top: 5px; margin-bottom: 5px; width: 100%;")
                    a(href=`${apiURL}/auth/google?clientId=${arcadeId}` style="text-decoration: none;")
                        button(type="button" style="background-color: #DB4437; color: white; display: flex; align-items: center; justify-content: center; gap: 10px;") 
                            span Entrar com Google

                a(href=`/register/${arcadeId}`) 
                    button(type="button") Registrar

block scripts 
    script(src="/scripts/login.js")