extends base.pug

block headExtra
  title Diagnostic - Maquina #{arcadeId}

block content
  section#machineDiagnostic
    .diagnostic-header
      h2 Maquina ##{arcadeId}
      .status-indicator
        span.pulse(class=arcadeMetrics.status === 'online' ? 'online' : 'offline')
        span.status-text(class=arcadeMetrics.status)= arcadeMetrics.status

    section#systemStatus
      h3 Status do Sistema
      .telemetry-list
        .telemetry-item
          .telemetry-label Status de Operacao
          .telemetry-value(class=arcadeMetrics.status)= arcadeMetrics.status
        .telemetry-item
          .telemetry-label Jogo Atual
          .telemetry-value= currentGameTitle
        .telemetry-item
          .telemetry-label Tempo de Atividade
          .telemetry-value= arcadeMetrics.uptimeMinutes ? arcadeMetrics.uptimeMinutes + ' min' : '0 min'
        .telemetry-item
          .telemetry-label Sessoes Hoje
          .telemetry-value= arcadeMetrics.totalSessions || 0

    section#controlPanel
      h3 Controle Remoto
      .action-buttons
        button.actionButton.btn-danger(type="button" disabled) Desligar Maquina
        button.actionButton.btn-success(type="button" disabled) Atualizar Jogo

    .back-button-container
      a.returnButton(href="/dashboard/arcade") Voltar ao Painel

  script.
    document.addEventListener('DOMContentLoaded', function() {
      var currentMachineStatus = '#{arcadeMetrics.status}';
      function HandleTelemetryUpdate() {
        console.log('Telemetry running for machine #{arcadeId}');
      }
      setInterval(HandleTelemetryUpdate, 5000);
    });