extends base.pug

block headExtra 
    title Perfil de Usuário

block content 
    div#playerInfo
        section#Profile
            h1 #{playerData.name}

            div
                h3 #{playerData.bio}
                p
                    strong Nível: 
                    | #{playerData.level} • #{playerData.expPoints} / #{100} XP
                p
                    div.progress
                        div.progress-bar(style=`width: ${playerData.expPoints / 100 * 100}%`)
                    
                - if (saves.length > 0)
                    p Visto por último: 
                        - var lastPlayedDate = new Date(saves[0].lastPlayed)
                        - var timeDifference = new Date() - lastPlayedDate
                        - var hoursAgo = Math.floor(timeDifference / 36e5)
                        - var minutesAgo = Math.floor(timeDifference / 6e4)
                        - var timeAgo = hoursAgo >= 1 ? (hoursAgo < 24 ? `há ${hoursAgo} horas` : `há ${Math.floor(hoursAgo / 24)} dias`) : `há ${minutesAgo} minutos`
                        | #{timeAgo}    
                        
                        //- CORREÇÃO 1: Acessa o jogo diretamente do primeiro save
                        - var recentGame = saves[0].game
                        p #{recentGame.title}
                        p #{saves[0].richPresenceText}
                - else 
                    p Não há jogos jogados.

        section#RecentGames
            h2 Jogos Jogados 
                ul
                    - if (saves.length === 0)
                        li Não há jogos salvos.
                    - else
                        each save in saves
                            //- CORREÇÃO 2: Usa o objeto 'game' que já está dentro do save
                            - var game = save.game
                            h3
                                a.gameName(href=`/game/${game.id}`) #{game.title}
                            
                            table
                                each value, key in save.data
                                    tr
                                        //- Acessa os labels do jogo
                                        td #{game.dataLabels[key]}
                                        td #{value}
    
    div.returnButton
        a(id="back-button" href="#") Voltar
    
block scripts
    script(src="/scripts/playerPage.js")