extends base.pug

block content
  section#superAdminPanel
    h1.text-center PatroArcade Central de Comando

    if errorMessage
      .alert.alert-danger= errorMessage

    section#globalStats
      h2 Estatísticas Globais
      .arcade-card
        .stat-row
          span.label Total de Máquinas
          span.value= globalMetrics.totalMachines
        .stat-row
          span.label Máquinas Online
          span.value.online= globalMetrics.onlineMachines
        .stat-row
          span.label Total de Jogadores
          span.value= globalMetrics.totalPlayers

    section#gamesManagement
      h2 Catálogo de Jogos
      if platformGames && platformGames.length > 0
        .games-list
          each game in platformGames
            .game-item
              .game-info
                span.game-id ##{game.id}
                span.game-title= game.title
                span.game-genre= game.genre || 'Arcade'
              button.btn.btn-sm Ver Detalhes
      else
        p.text-muted Nenhum jogo encontrado no catálogo.

    section#systemActions
      h2 Ações do Sistema
      button.btn.btn-success.w-100.py-2 + Cadastrar Novo Jogo no Ecossistema

    .back-button-container
      a.returnButton(href="/") Voltar ao Início